
{% extends 'base.html' %}
{% block body %}
<br><br>

    <div class="pure-g">
        <div class="pure-u-1-6">
        </div>

        <div class="pure-u-2-3">
{% with messages = get_flashed_messages() %}
  {% if messages %}
<h3>STATUS</h3>
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{{questions.topmatter}}

<form class="pure-form " method="POST"  enctype="multipart/form-data">
{% for q in questions.questions %}

{% if q.type=="text"%}
<label>{{q.label}}:</label>
<input type="text" name="{{q.name}}" value="{{q.answer}}">
{% elif q.type=="textarea"%}
<label>{{q.label}}:</label>
<textarea rows=10 cols=60 name="{{q.name}}">{{q.answer}}</textarea>
{% elif q.type=="label"%}
<h2><label>{{q.label}}: {{q.answer}}</label></h2>
{% elif q.type=="file"%}
<label>{{q.label}}:</label>
<input type="file" name="{{q.name}}">
<a href="/applications/{{questions.email}}/{{q.name}}">{{q.answer}}</a>
{% elif q.type=="choice"%}
<label>{{q.label}}:</label>
{% for c in q.choices %}
<label>{{c}}:</label>
  {% if c!=q.answer %}
  <input type="radio" name={{q.name}} value="{{c}}">
  {% else %}
  <input type="radio" name={{q.name}} value="{{c}}" checked="true">
  {% endif %}
{% endfor %}

{% endif %}
<hr>
{% endfor %}
<input type="submit" name="button" value="Update application">
<input type="submit" name="button" value="Cancel and logout">
<br><br>
</form>
	</div>
    </div>

{% endblock %}
