{% extends 'base.html' %}
{% block body %}
<br>
<br>
    <div class="pure-g">
        <div class="pure-u-1-6">
        </div>

        <div class="pure-u-2-3">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

	  <form class="pure-form pure-form-stacked" method="POST">
	    <fieldset>
	    <legend>Register </legend>
	    <input type="email" placeholder="Email" name="email">
	    Your password is just to help identify your application. IT IS NOT SECURE. Don't use any of your real passwords.
	    <input type="password" placeholder="Password" name="password">
	    <input type="password" placeholder="Retype Password" name="cpassword">
	    <button type="submit" name="button" value="Create" class="pure-button pure-button-primary">
	      Create account
	    </button>
	    <button type="submit" name="button" value="Home" class="pure-button pure-button-primary">
	      Home
	    </button>
	    </fieldset>
	  </form>
        </div>

    </div>
{% endblock %}
